{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">

           <div class="form-group required">
                        <label class="col-sm-2 control-label" for="entry-display-name"><span data-toggle="tooltip" title="{{ help_display_name_hint }}"> {{ entry_display_name }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_cointopay_display" value="{{ payment_cointopay_display }} " placeholder=" Display Name" id="payment_cointopay_display" class="form-control"/>
                            {% if error_display_name  %}
                                <div class="text-danger">{{ error_display_name }} </div>
                            {% endif%}
                        </div>
            </div>

           <div class="form-group required">
                        <label class="col-sm-2 control-label" for="entry-api-key"><span data-toggle="tooltip" title="{{ help_api_key_hint }}"> {{ entry_api_key }} </span></label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_cointopay_api_key" value="{{ payment_cointopay_api_key }}" placeholder=" {{ entry_api_key }}" id="payment_cointopay_api_key" class="form-control"/>
                            {% if error_api_key %}
                                <div class="text-danger">{{ error_api_key }}</div>
                            {% endif %}
                        </div>
            </div>

           <div class="form-group required">
                        <label class="col-sm-2 control-label" for="entry-merchantID"><span data-toggle="tooltip" title="{{ help_merchantID_hint }}">{{ entry_merchantID }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_cointopay_merchantID" value="{{ payment_cointopay_merchantID }}" placeholder="{{ entry_merchantID }}" id="payment_cointopay_merchantID" class="form-control" >
                            {% if error_merchantID %}
                                <div class="text-danger"> {{ error_merchantID }} </div>
                            {% endif %}
                        </div>
            </div>
        
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="entry-redirect-url">Security Code</label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_cointopay_security_code" value="{{ payment_cointopay_security_code }}" placeholder="Security Code" id="payment_cointopay_merchantID" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                        <div class="col-sm-10">
                            <select name="payment_cointopay_status" id="input-status" class="form-control">
                                {% if payment_cointopay_status %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}